.bg-black\/80
{
    display:none;
}

.sidebar-on {
 
        position: relative;
        overflow: visible;
        width: auto;
        height: auto;
        margin: 2px;
}

.icon-trigger svg{
    display: none;
}




.switch-chico {
    transform: scale(0.6);
    transform-origin: center;
    position: fixed;
    right:-5px;
    
  }